.Dashboard {
    background-color: white;
    width: 100%;
    height: 100vh;
}

.navbar {
    background-color: #adadad;
    width: 100%;
    height: 50px;
}

.board-container {
    width: 100%;
    height: calc(100% - 50px);
    background-color: aqua;    
}